label {
	font-weight: bold;
}
.input.control-group.radio{
	padding-left: 0;
}
.input.control-group.radio input{
	float: left;
	width: 15px;
	position: relative;
	display: inline-block;
	margin-left: 0;
}
.input.control-group.radio label{
	float: left;
	position: relative;
	display: inline-block;
	margin-right: 20px;
}
.form-group{
	float: left;
	width: 100%;
	margin-bottom: 15px;
}
.control-group{
	/*width: 100%;*/
}
.control-group.input.time select{
	max-width: 50px;
}
.help-block.error-message{
	display: block;
	clear: both;
}